@model List<ElementoUsuarioViewModel>

@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">Guia de supervivencia del yermo</h1>
    @if (Model != null && Model.Any())
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a asp-controller="Home" asp-action="@ViewBag.tipoelemento" asp-route-id="@item.Id">
                        @item.Nombre
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No hay elementos disponibles.</p>
    }
</div>

