@{
    ViewData["Title"] = "Sobre nosotros";
}

<br>
<h1>Proyecto de Aplicación Web: Guía de Videojuegos</h1>
<br>
<p><strong>Principal competencia a desarrollar:</strong></p>
<p>Conocimiento y aplicación de las herramientas necesarias para el almacenamiento, procesamiento y acceso a los Sistemas de información, incluidos los basados en web.</p>

<br>
<h2>Introducción</h2>
<br>
<p>El proyecto consiste en el desarrollo de una aplicación web que servirá como guía de videojuegos (Fallout 3, New Vegas), con posibilidad de escalado a otros títulos de la misma compañía.</p>
<p>En dicha aplicación existirá un sistema de autenticación con dos tipos de roles:</p>
<ul>
    <li><strong>Usuario</strong>, quien podrá listar los distintos elementos e interactuar con ellos dentro de los permisos otorgados.</li>
    <li><strong>Administrador</strong>, quien tendrá la capacidad de eliminar, modificar e insertar elementos en la aplicación.</li>
</ul>
<p>El principal atractivo de la aplicación es permitir a los usuarios marcar las distintas misiones y/o objetos "únicos" como completados, facilitando así un mejor seguimiento de su progreso en el juego.</p>

<br>
<h2>Objetivos</h2>
<br>
<ul>
    <li>Desarrollo, implementación y despliegue de una aplicación web, cuya planificación se hará mediante la metodología <strong>SCRUM</strong>.</li>
    <li>Adquirir experiencia en el uso de <strong>C#, HTML5, Bootstrap 5, ASP.NET Core, SQL Server Management Studio (SSMS), Azure</strong> y, en general, todas las herramientas necesarias para generar el producto final.</li>
</ul>

<br>
<h2>Planificación</h2>
<br>
<p>Mediante la metodología <strong>SCRUM</strong>, se planificará el desarrollo del proyecto mediante sprints de 1 o 2 semanas, con una duración estimada de 3-4 meses y un total de 8-10 sprints.</p>
<p>En dichos sprints se verán reflejadas, además de las tareas necesarias para el desarrollo de la aplicación, aquellas correspondientes al estudio de herramientas y la generación de la documentación del proyecto.</p>

<br>
<h2>Recursos</h2>
<br>
<ul>
    <li><strong>Base de Datos:</strong> SQL Server Management Studio (SMSS).</li>
    <li><strong>Acceso a Datos (ORM):</strong> Entity Framework o Dapper.</li>
    <li><strong>Entorno de Desarrollo (IDE):</strong> Microsoft Visual Studio.</li>
    <li><strong>Framework:</strong> ASP.NET Core MVC con .NET 9.0.</li>
    <li><strong>Autenticación y Seguridad:</strong> ASP.NET Core Identity, Cookie Authentication.</li>
    <li><strong>Control de versiones:</strong> GitHub.</li>
    <li><strong>Despliegue:</strong> Azure.</li>
    <li><strong>Lenguajes de Programación:</strong> HTML, JavaScript, CSS, C#.</li>
    <li><strong>Frontend:</strong> Bootstrap, CSS.</li>
</ul>

