@model MisionViewModel

@{
    ViewData["Title"] = "Crear Misión";
}

<div class="text-center">
    <h1 class="display-4">Vamos a crear una nueva misión</h1>
</div>

<div class="container mt-4">
    <form asp-action="CrearMision" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="idJuego"></label>
            <input asp-for="idJuego" class="form-control" value="@Model.idJuego" />
            <span asp-validation-for="idJuego" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdElem"></label>
            <input asp-for="IdElem" class="form-control" />
            <span asp-validation-for="IdElem" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Descripcion"></label>
            <textarea asp-for="Descripcion" class="form-control"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="ImagenFile">Seleccionar Imagen</label> @* Cambia el asp-for a un for explícito si cambias el nombre de la propiedad a ImagenFile *@
            <input type="file" id="ImagenFile" name="ImagenFile" class="form-control" accept="image/*" /> @* Añade un name="ImagenFile" que coincida con la propiedad en tu ViewModel *@
            <span asp-validation-for="Imagen" class="text-danger"></span> @* Puedes mantener esta validación si Imagen sigue siendo requerida, pero valida ImagenFile también *@
        </div>

        <div class="form-group">
            <label asp-for="StartTrigger"></label>
            <input asp-for="StartTrigger" class="form-control" />
            <span asp-validation-for="StartTrigger" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bugs"></label>
            <input asp-for="Bugs" class="form-control" />
            <span asp-validation-for="Bugs" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TipoQuest"></label>
            <select asp-for="TipoQuest" class="form-control" asp-items="Html.GetEnumSelectList<TipoQuest>()">
                <option value="">Selecciona el tipo de misión</option>
            </select>
            <span asp-validation-for="TipoQuest" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Misión</button>
    </form>
</div>