@model ItemViewModel

@{
    ViewData["Title"] = "Crear Item";
}

<div class="text-center">
    <h1 class="display-4">Vamos a crear un nuev item</h1>
</div>

<div class="container mt-4">
    <form asp-action="CrearItem" method="post">
        <div class="form-group">
            <label asp-for="idJuego"></label>
            <input asp-for="idJuego" class="form-control" value="@Model.idJuego" />
            <span asp-validation-for="idJuego" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdElem"></label>
            <input asp-for="IdElem" class="form-control" />
            <span asp-validation-for="IdElem" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Descripcion"></label>
            <textarea asp-for="Descripcion" class="form-control"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Imagen"></label>
            <input asp-for="Imagen" class="form-control" />
            <span asp-validation-for="Imagen" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StartTrigger"></label>
            <input asp-for="StartTrigger" class="form-control" />
            <span asp-validation-for="StartTrigger" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bugs"></label>
            <input asp-for="Bugs" class="form-control" />
            <span asp-validation-for="Bugs" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TipoQuest"></label>
            <select asp-for="TipoQuest" class="form-control" asp-items="Html.GetEnumSelectList<TipoQuest>()">
                <option value="">Selecciona el tipo de misión</option>
            </select>
            <span asp-validation-for="TipoQuest" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Misión</button>
    </form>
</div>