@model TFG.Models.CajaDeComentariosViewModel

<h1>Estamos con Eliminar comentario</h1>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-comments"></i> Comentarios (@Model.TotalComentarios)
    </div>
    <div class="card-body">
        @if (Model.Comentarios is not null)
        {
            @if (Model.Comentarios.Any())
            {
                @foreach (var comentario in Model.Comentarios)
                {
                    @await Html.PartialAsync("CajaComentarios/_ComentarioIndividual", comentario)
                }
            }
            else
            {
                <p>No hay comentarios aún. ¡Sé el primero en comentar!</p>
            }
        }
    </div>
    <div class="card-footer small text-muted">
        @if (User.Identity.IsAuthenticated)
        {
            <h4>Dejar un comentario</h4>
            <form id="formNuevoComentario">
                <div class="form-group">
                    <textarea class="form-control" id="mensajeNuevoComentario" rows="3" placeholder="Escribe tu comentario aquí..."></textarea>
                </div>
                <input type="hidden" id="tipoEntidad" value="@Model.TipoEntidad" />
                <input type="hidden" id="entidadId" value="@Model.EntidadId" />
                <div id="mensajeRespuestaComentario" class="mt-2"></div>
                <button type="button" class="btn btn-primary">Enviar comentario</button>
            </form>
        }
        else
        {
            <p><a asp-area="Identity" asp-controller="GestionUsuario" asp-action="InicioSesion">Inicia sesión</a> para dejar un comentario.</p>
        }
    </div>
</div>