@model TFG.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<h2>Crear Usuario</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NombreUsuario"></label>
        <input asp-for="NombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Apellido"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Contrasena"></label>
        <input asp-for="Contrasena" type="password" class="form-control" />
        <span asp-validation-for="Contrasena" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Pais"></label>
        <input asp-for="Pais" class="form-control" />
        <span asp-validation-for="Pais" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="F_Nacimiento"></label>
        <input asp-for="F_Nacimiento" type="date" class="form-control" />
        <span asp-validation-for="F_Nacimiento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GooglePlusCode"></label>
        <input asp-for="GooglePlusCode" class="form-control" />
        <span asp-validation-for="GooglePlusCode" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
