@model IniciarSesionViewModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h2>Iniciar Sesión</h2>
@if (ViewData.Keys.Contains("mensaje"))
{
    <p>@ViewData["mensaje"]</p>
}
<form asp-action="InicioSesion" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="mailusername"></label>
        <input asp-for="mailusername" class="form-control" />
        <span asp-validation-for="mailusername" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Contrasena"></label>
        <input asp-for="Contrasena" class="form-control" type="password" />
        <span asp-validation-for="Contrasena" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Iniciar Sesión</button>
    <a class="btn btn-success mt-3" asp-action="loginExterno" asp-route-proveedor="Microsoft">Iniciar sesion con Microsoft</a>
    <a class="btn btn-success mt-3" asp-action="loginExterno" asp-route-proveedor="Google">Iniciar sesion con Google</a>
    <a class="btn btn-success mt-3" asp-action="PassForgoten">Recuperar contraseña</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
