@model TFG.Models.ModificarUsuarioViewModel

@{
    ViewData["Title"] = "Editar Perfil";
    bool tienemicrosft = Model.loginexternos?.Any(loginmicrosoft => loginmicrosoft.loginprovider=="Microsoft")??false;
    bool tienegoogle = Model.loginexternos?.Any(logingoogle => logingoogle.loginprovider == "Google") ?? false;
}

<h2>Editar Perfil - @User.Identity.Name</h2>
@if (ViewData.Keys.Contains("mensaje"))
{
    <p>@ViewData["mensaje"]</p>
}
<form asp-action="ModificarUsuario" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @* Campo oculto si necesitas el ID del usuario para la edición *@
    @* <input type="hidden" asp-for="IdUsuario" /> *@

    <div class="form-group">
        <label asp-for="NombreUsuario"></label>
        <input asp-for="NombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Apellido"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Pais"></label>
        <input asp-for="Pais" class="form-control" />
        <span asp-validation-for="Pais" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="F_Nacimiento"></label>
        <input asp-for="F_Nacimiento" type="date" class="form-control" />
        <span asp-validation-for="F_Nacimiento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GooglePlusCode"></label>
        <input asp-for="GooglePlusCode" class="form-control" />
        <span asp-validation-for="GooglePlusCode" class="text-danger"></span>
    </div>

    <div class="form-group d-flex justify-content-between align-items-center">
        <label asp-for="Contrasena" class="mb-0 text-end"></label>
        <a class="btn btn-success mt-3 mb-3" asp-action="PassForgoten">Cambiar contraseña</a>
        @*<input asp-for="Contrasena" type="password" class="form-control" placeholder="••••••••" />
        <span asp-validation-for="Contrasena" class="text-danger"></span>*@
    </div>

    <div class="d-flex gap-3 mb-3 align-items-center">
    @if (!tienemicrosft)
    {
        <a class="btn btn-success d-flex" asp-action="loginExterno" asp-route-proveedor="Microsoft">Vincular cuenta con Microsoft</a>
    }
    else if(tienemicrosft)
    {
        <span class=" badge fs-6 bg-dark-subtle">Cuenta Microsoft vinculada</span>
    }
    @if (!tienegoogle)
    {
        <a class="btn btn-success" asp-action="loginExterno" asp-route-proveedor="Google">Vincular cuenta con Google</a>
    }
    else if(tienegoogle)
    {
        <span class=" badge fs-6 bg-dark-subtle" style="min-height:33px;">Cuenta Google vinculada</span>
    }
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-primary" asp-action="EliminarUsuario" asp-route-Id="@User.FindFirst("IdUsuario").Value">Eliminar Cuenta</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
